<h1>Welcome to CSE Motors!</h1>
<div class="container">
    <div class="overlay">
        <img src="/images/vehicles/delorean.jpg" alt="background image">
        <div class="overlay-content">
            <h2>DLC deloreon</h2>
            <p>3 Cup Holders</p>
            <p>SuperMan Doors</p>
            <p>Fuzzy Dicel</p>
            <img src="/images/site/own_today.png" alt="own_today banner" srcset="">
        </div>
    </div>
</div>
<div class="body-grid">
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and love it!" (5/5)</li>
        </ul>
    </div>

    <div class="products">
        <h2 id="upgrade">Delorean Upgrades</h2>
        <div class="product-grid">
            <div class="product-container">
                <div class="product">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <p>Flux Capacitor</p>
            </div>

            <div class="product-container">
                <div class="product">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <p>Flame Decals</p>
            </div>

            <div class="product-container">
                <div class="product">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <p>Bumper Stickers</p>
            </div>

            <div class="product-container">
                <div class="product">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <p>Hub Caps</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>